:root {
  --main-color: #037fff;
  --text-color: #34444f;
  --bg-dark: #10121b;
  --secondary-dark: #2e344e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
}

body > h1,
body > p {
  padding: 0.8rem;
}

svg {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.draggable-list {
  border: 1px solid var(--secondary-dark);
  color: var(--text-color);
  list-style-type: none;
}

.draggable-list li {
  background: #ffffff;
  display: flex;
  flex: 1;
}

.draggable-list li:not(:last-of-type) {
  border-bottom: 1px solid var(--secondary-dark);
}

.draggable-list .number {
  background: var(--bg-dark);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  height: 60px;
  width: 60px;
}

.draggable-list .person-name {
  margin: 0 1rem 0 0;
}

.draggable-list li.right .person-name {
  color: #3ae374;
}

.draggable-list li.wrong .person-name {
  color: #ff3838;
}

.draggable-list li.over {
  border-bottom: none;
}

.draggable-list li.over .draggable {
  background: #c7c7c7;
}

.draggable {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  flex: 1;
}

.check-btn {
  background: var(--bg-dark);
  color: #ffffff;
  border: none;
  outline: none;
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  cursor: pointer;
}

.check-btn:active {
  transform: scale(0.98);
}

.check-btn svg {
  margin-left: 0.5rem;
}
